/* 版心设置 */
.contain{
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
}
/* head部分 */
body{
    background-color: #f3f3f3;
}
.header {
    background-color: #000;
    height: 100%;
}
.h-words{
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
}
/* logo部分 */
.h-logo{
    width: 144px;
    height: 100%;
    display: flex;
    align-items: center;
}
.h-logo a {
    display: inline-block;
    width: 144px;
    height: 56px;
    background: url(../images/logo.png)no-repeat center;
}
/* 标题部分 */
.h-title{
    width: 555px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-title a{
    font-size: 16px;
    padding: 10px 10px;
    color: #f7f7f7;
    text-decoration: none;
}
.h-title a:hover{
    color: #cf9457;
}
.h-login{
    width: 199px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.login{
    display: inline-block;
    padding: 6px 10px;
    width: 92px;
    height: 24px;
    background-color: #ca9b44;
    border-radius: 4px;
    text-align: center;
    line-height: 24px;
    color: #fff;
}
.login-phon{
font-family: "FZZDHJW--GB1-0";
font-size: 22px;
color: #fff;
}
.login-phon i{
    color: #ca9b44;
    padding: 0 4px;

}
/* 脚部 */
.footer{
    height: 310px;
    background-color: #eee;
}
.f-about{
    display: flex;
    justify-content: space-between;
}
.f-about ul li{
    font-family: "sourceHansansCN-Normal"   ;
    font-size: 22px;
    letter-spacing: -2px;
    color: #343434;
    margin-bottom: 20px;
}
.f-about ul li:first-child{
    font-family: "sourceHansansCN-Normal"    ;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #343434;
    margin-bottom: 42px;
    margin-top: 52px;
}
.f-about ul li a:hover{
    color: #ca9b44;
}
/* 小圆圈的公共类 取还驾照 */
circle{
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
}


/* 搜索CSS */
.h-title li:nth-child(1) a{
    color: #cf9257;
    font-size: 20px;
}

.swiper-container{
    /* 切换页的颜色 */
    --swiper-theme-color:#072c4d;
    /* 轮播图的颜色 */
    --swiper-pagination-color:#072c4d;
    height: 400px;
    overflow: hidden;
}

.swiper-container-horizontal>.swiper-pagintion-bullets .swiper-pagintion-bullet{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #494949a2;
}

.swiper-pagintion-bullet-active{
    background:#072c4d !important;
    width: 1.2rem !important;
}

.swiper-pagintion-bullet{
    opacity: 1;
}

.swiper-wrapper{
    width: 1150px;
    margin: auto;
}

.swiper-slide img{
    width: 1150px;
}